<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Edit Note</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="user" id="user" value="{{request.session.user_id}}">
                        <label for="id_title">Title:</label>
                        <input type="text" class="form-control" id="id_title" name="title" >
                    </div>
                    <div class="form-group">
                        <label for="id_content">Content:</label>
                        <textarea class="form-control" id="id_content" name="content" rows="5" ></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add Note</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>
