
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Todo List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>




    <a href="{% url 'logout' %}">Logout</a>
    {{user.id}}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="text-center mb-4">Todo List</h2>
          <div class="input-group mb-3">
            
            <div class="input-group-append">
              <a  href="{% url 'create' %}"
                class="btn btn-outline-secondary">
                
                Add
              </a>
            </div>

          </div>




          <div class="bg-dark p-5">
            {% for note in note_list %}
                {% if note.status.id == 1 %}
                    <ul id="todoList" class="list-group mt-2">
                        <li class="list-group-item list-group-item-action">
                            <a href="{{ note.hashed_id }}">
                                {{ note.title }} <span>{{ note.date }}</span>
                                <span>{{ note.status }}</span>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
        

          <div class="bg-danger p-5">
            
            {% for note in note_list %}
            {% if note.status.id == 2 %}
            <ul id="todoList" class="list-group mt-2">
              <li class="list-group-item list-group-item-action">
                  <a href="{{ note.hashed_id }}">
                      {{ note.title }} <span>{{ note.date }}</span>
                      <span>{{ note.status }}</span>
                  </a>
              </li>
          </ul>
          {%endif%}
          {% endfor %}
        </div>

          <div class="bg-success p-5">
            {% for note in note_list %}
             {% if note.status.id == 3 %}

             <ul id="todoList" class="list-group mt-2">
              <li class="list-group-item list-group-item-action">
                  <a href="{{ note.hashed_id }}">
                      {{ note.title }} <span>{{ note.date }}</span>
                       <span>{{ note.status }}</span>
                  </a>
              </li>
          </ul>
          {% endif %}
          {% endfor %}
        </div>



        
        

        </div>
      </div>
    </div>
  </body>
</html>
